__pycache__/
*.pyc
.terraform/
terraform.tfstate
terraform.tfstate.backup
*.tfvars
.terraform.lock.hcl
package/
.build_package/
deployment.zip
.terraform.tfstate.lock.info
datasets/
response.json
report.xml
